.name{
    width: 200px;
    height: 25px;
    margin:  0px;
    text-align: center;
}
.price{
    width: 200px;
    height: 25px;
    margin:  0px;
    text-align: center;
    
}
.productImg{
    width: 200px;
    height: 243px;
}
.buyButton{
    width:195px;
    height:45px;
    font-size: 32px;
    background-color: lightgreen;
    border: 5px solid white;
    border-radius: 10px;
    margin-left: 2px;
    padding-bottom: 10px;
    transition: 0.3s;
     
}
.productBody{
    width: 200px;
    height:350px;
    border: 3px solid lightgrey;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;    
}
.buyButton:hover{
    border: 7px solid lightgreen;
    
}